.header{
  position: relative;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-bottom: 1px solid #d8e3e7;

  div {
    padding-left: 10px;
    span {
      background-color: #00b1ef;
      color: #ffffff;
      border-radius: 100px;
      height: 20px;
      padding: 2px 10px;
      font-size: 10px;
    }
  }
  .search{
    position: relative;
    margin-right: 20px;

    input[type="text"] {
      border-radius: 100px;
      background-color: #ffffff;
      color: #aebcc0;
      padding-left: 20px;
      border: 0;
      height: 30px;
      width: 300px;
      outline: 0;
      font-size: 14px;


      &::placeholder {
        color: #aebcc0;
      }
    }
    input[type="submit"] {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../../../../theme/images/search.png');
      background-color: transparent;
      border: 0;
      outline: 0;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}